


body{
    margin: 0px;
    
}
.container{
    display: flex;
    background-color: #1F2937;
    padding-bottom: 100px;
   
    
}
.imgone{
    width: 100px;
    height: 100px;
    padding:20px 0px 0px 100px;
   
}
.links{
    display: flex;
   
    text-align: center;
    font-size: 18px;
    color:white;
    padding: 0px, 300px;
    margin: 30px 200px 0 auto;
    gap: 30px;
    
    
}

a:visited{
    color: rgb(216, 202, 202);
}

.container-top{
display: flex;
background-color: #1F2937;
justify-content: center;
align-items: center;
color: #E5E7Eb;
font-size: 18px;
flex-wrap: wrap;
}


@media (max-width: 839px){

    .container-top{
        flex-direction: column;
        justify-content: center;
    }

   


   
    }
 
    @media (max-width: 839px){
        .imgtwo{
        margin-right: 30px;
        }
    }





h1{
    padding-left: 40%;
    ;
    
}
.h1{
    
    width: 50%;;
    flex: 1 2 auto;
    min-width: 358px;
    
}
.imgtwo{
   width: 90%;
   height: 100%;
   flex: 1 1 auto;
   min-height:200px;
   max-width: 538px;
   min-width: 358px;
   
 
    
    
}
.twohalf{
    width: 40%;
    height:400px;
min-width: 358px

    }
.onep{
padding-left: 30%;
padding-right: 10%;
width: 20%%;


}
button{
   display: inline-block;
   margin-left: 30%;
}
h2{
    text-align: center;
}
.imgthree{
    height: 200px;
    width: 200px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.qoute{
    text-align: center;
    background-color: #1F2937;
    font-size: 38px;
    color: #E5E7Eb;
    padding: 50px;
}
footer{
    text-align: center;
    padding: 10px 0px 10px 0px;
}